*{color:#5a520c}
body {
  width:100%;
  flex-wrap:wrap;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: khaki !important;
}
#quote-box {
  text-align:center;
  width:100%;
}
#text {
  font-family: Courgette;
  font-size: 4rem;
  line-height: 5rem;
}
#author {
  padding-top: 50px;
  font-family: Oswald;
  font-size: 2.5rem;
}
#order{
  align-self:flex-end;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  padding-bottom:10vh;
}
#tweet-quote{
  color:#b5a517;
  font-size:4rem;
  margin-right:50px;
}
#new-quote {
  margin-left:50px;
  background: transparent;
  font-family: Neucha;
  border-color:#b5a517;
}
#new-quote:hover{
  border-color:#f3c258;
}
